body {
    font-family: Tahoma;
}

em {
    color: blue;
    font-size: 90%;
}

ul {
    
}

li {
    margin: 0.5em 0;
}

small {
    font-size: 0.8em;
}

input[type="text"] {
    font-size: 1.5em;
    text-align: center;
    width: 200px;
}

input[type="submit"] {
    font-size: 1em;
    padding: 10px;
    width: 200px;
}

table.balance td {
    text-align: right;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 11pt;
}

.green {
    color: green;
}
.red {
    color: red;
}

table.balance tr.lined td {
    border-bottom: 1px solid black;
}

table.orders tr:hover {
    background: #FCFCC4;
}

table.orders th {
    padding: 10px;
    text-align: left;
}

table.orders td {
    padding: 5px 10px;
    text-align: right;
}

table.orders tr.lined td {
    border-bottom: 1px solid #ccc;
}

.clear {
    clear: both;
}

.screen {
}

.error {
    color: red;
}

p.radio label {
    line-height: 150%;
}

a.hvishuk {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background: #FCFCC4;
    line-height: 140%;
}

.table-header {
    background: #ddd;
}